.app-example-three {
  padding: 10px;
  color: var(--example-three-color);
}

:root { --ct-theme-color: #0FF; }
div { --ct-theme: green; }
label { --ct-theme: yellow; }
.ct_input { --ct-theme: red; }
* { color: var(--ct-theme); }
